OLLAMA_ENDPOINT=http://127.0.0.1:11434
MODEL_1=llama3.1:8b
MODEL_2=mistral-nemo:latest
INITIAL_PROMPT="Let's discuss the future of AI. What are your thoughts on its potential impact on society? Please tell me your name too.    "